---
import Layout from "../../layouts/Layout.astro";
import Medidores from "../../../public/assets/images/medidores.png";
import MedidoresInfo from "../../../public/assets/images/medidor-info.png";
import ImgSlider from "../../components/ImgSlider.astro";
import ContactUs from "../../components/ContactUs.astro";
const images = [Medidores.src, MedidoresInfo.src];
---

<Layout page="Open MDX">
  <div class="layout">
    <section class="center-everything">
      <div class="card">
        <h2>Dispositivos e Sensores Inteligentes de Telemetria</h2>
        <span class="subtitle"
          >Monitoramento Inteligente de Energia em Tempo Real</span
        >

        <div>
          <p>
            Nossas NICs (Network Interface Cards) são módulos de comunicação
            inteligentes projetados para transformar medidores de energia em
            dispositivos conectados e monitoráveis remotamente. Compactos,
            robustos e com alta precisão, eles são a base da nossa solução de
            monitoramento. Com suporte a tecnologias NB-IoT e LoRaWAN, garantem
            conectividade estável mesmo em ambientes remotos ou de difícil
            acesso.
          </p>
        </div>
      </div>
    </section>
    <section class="center-everything">
      <div class="card">
        <h2>Características dos Dispositivos</h2>

        <div class="content">
          <div>
            <p>
              Baixo consumo de dados: Possui mecanismo de compressão e
              recuperação de dados.
            </p>
            <p>
              Transmissão automática de dados via push dos principais parâmetros
            </p>
            <p>
              Interface local via BLE: controle via aplicativo para contingência
              com todas as funçõesremotas no aplicativo
            </p>
            <p>
              Protocolos NB-IoT e LoRaWAN para conectividade eficiente e de
              baixo consumo
            </p>
            <p>
              Alimentação independente ou via rede elétrica, conforme o modelo
            </p>
            <p>Atualizações remotas (FUOTA) da NIC e medidore</p>
          </div>

          <img
            src="/assets/device-illustration2.svg"
            alt="illustration"
            class="illustration"
          />
        </div>
      </div>
    </section>

    <section class="center-everything">
      <ContactUs />
    </section>
  </div>
</Layout>
