---
import ContactUs from "../components/ContactUs.astro";
import Layout from "../layouts/Layout.astro";
import NepenLink from "../components/NepenLink.astro";
import { Icon } from "astro-icon/components";
---

<Layout page="Sobre Nós">
  <section class="about layout">
    <div class="card">
      <h2>Sobre Nós</h2>
      <span class="subtitle">Conectamos o mundo à era da Internet of Grids</span
      >

      <div>
        <p>
          A NEPEN Soluções é uma empresa de base tecnológica especializada em
          soluções para um novo paradigma de conectividade e digitalização do
          setor elétrico.
        </p>
        <p>
          Surgimos como uma spin-off do Instituto <NepenLink />, um centro de
          pesquisa sediado em Fortaleza-CE, reconhecido nacionalmente por mais
          de 20 anos de atuação em inovação para o setor elétrico.
        </p>
        <p>
          Nascida dentro de um ecossistema de P&D voltado a tecnologias
          emergentes, a NEPEN Soluções mantém raízes profundas na ciência,
          inovação aberta e excelência técnica.
        </p>
        <p>
          Com experiência acumulada em projetos de Internet das Coisas (IoT),
          telemetria, gestão de dispositivos, análise de dados e integração
          entre sistemas, a empresa tornou-se referência no desenvolvimento de
          plataformas e dispositivos para a digitalização das redes elétricas
          brasileiras.
        </p>
        <p>
          Nosso principal produto é o Open MDX, uma plataforma aberta de
          conectividade que viabiliza a interoperabilidade entre sensores,
          medidores inteligentes e sistemas de gestão de redes. Com centenas de
          milhares de dispositivos conectados, o MDX é hoje possui soluções para
          automação, medição inteligente e integração de sistemas legados,
          impulsionando a transformação digital e a eficiência operacional das
          distribuidoras de energia.
        </p>
        <p>
          Com um time altamente especializado e orientado a desafios, a NEPEN
          Soluções atua do laboratório ao campo, entregando tecnologias maduras,
          confiáveis e escaláveis.
        </p>
      </div>
    </div>

    <div class="card">
      <h2>O que nos diferencia</h2>
      <div class="container-grid">
        <div>
          <Icon name="tabler:world" color="var(--accent)" size={32} />

          <p>
            <span>Internet of Grids como visão:</span> Estamos comprometidos com
            a criação de uma infraestrutura digital interoperável, conectando ativos
            físicos e sistemas de informação em redes inteligentes e resilientes.
          </p>
        </div>
        <div>
          <Icon name="tabler:puzzle" color="var(--accent)" size={32} />
          <p>
            <span>Arquitetura aberta e escalável:</span> Desenvolvemos o Open MDX
            com protocolos abertos e uma base modular, que permite integração com
            qualquer plataforma ou fabricante, sem dependências proprietárias.
          </p>
        </div>
        <div>
          <Icon name="tabler:book-2" color="var(--accent)" size={32} />
          <p>
            <span>Do laboratório ao campo:</span> Nossa trajetória é marcada por
            pesquisa aplicada, testes reais em campo e aprendizado contínuo. Isso
            nos permite entregar soluções maduras e robustas, prontas para ambientes
            críticos.
          </p>
        </div>
        <div>
          <Icon name="tabler:chart-covariate" color="var(--accent)" size={32} />

          <p>
            <span>Evolução contínua:</span> Em 2025, lançamos o <span
              >MDX SENSORS</span
            >, uma linha de sensores inteligentes que amplia nossa atuação para
            monitoramento de eventos, quedas de energia e condições de rede em
            tempo real.
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <h2>Nossa missão</h2>
      <p>
        Impulsionar a digitalização do setor elétrico, com tecnologias
        escaláveis e orientadas à interoperabilidade.
      </p>
    </div>

    <div class="card">
      <h2>De onde viemos</h2>
      <p>
        A NEPEN Soluções é uma spin-off do <NepenLink /> , instituto referência em
        inovação tecnológica e empreendedorismo. Como outras startups que surgiram
        desse ambiente, carregamos uma herança de excelência em P&D e o compromisso
        com a transformação digital sustentável da infraestrutura brasileira.
      </p>
    </div>

    <ContactUs />
  </section>
</Layout>
