---
import { Icon } from "astro-icon/components";
---

<footer aria-label="footer" class="footer">
  <div class="footer-inner">
    <nav class="footer-section" >
      <span>Páginas</span>
      <a href="/#products">Produtos</a>
      <a href="/#contact-us">Contato</a>
      <a href="/sobre-nos">Sobre Nós</a>
    </nav>
    <div class="footer-section">
      <span>Redes</span>
     <a href="/#products" class="list-item"> <Icon name="tabler:brand-linkedin" color="var(--accent)" size={32} />
LinkedIn</a>
      <a href="/#contact-us" class="list-item"><Icon name="tabler:brand-instagram" color="var(--accent)" size={32} />Instagram</a>
    </div>

</div>

  <style>
    .footer {
      z-index: 50;
      padding: 2rem;
      width: 100%;
      background-color: var(--bg-color);
      border-bottom: 1px solid var(--border-color);
      backdrop-filter: blur(6px);
      transition: background-color 0.3s ease, border-color 0.3s ease;

    }
    .map {
      height: 16rem
    }
    .footer-inner {
      display: flex;
      justify-content: space-around;
      gap: 2rem;
    }
    .footer-section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

    }

    @media (max-width: 768px) {
  .footer-inner {
      display: flex;
        flex-direction: column;
      gap: 2rem;
  }
  </style>


</footer>
